<!DOCTYPE html>
<html>
  <head>
    <title><%= message %></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
<h1>mensaje</h1>
<h2>estado de error</h2>
<body>
    
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"></h1>
      <a href="/">VOLVER  A  INICIO</a>
    </div>
    </div>
</body>
</html>
